/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    color: #f0e68c; /* Color de letras tipo dorado lindo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor */
.container {
    text-align: center;
}

/* Estilo del título principal */
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Estilo del subtítulo */
h2 {
    font-size: 2rem;
    font-weight: lighter;
    color: #87CEFA; /* Color celeste lindo */
}
